Package: python3-debian-crossgrader
Source: debian-crossgrader
Version: 0.0.1-1
Architecture: all
Maintainer: Kevin Wu <kevin@kevinniuwu.com>
Installed-Size: 71
Depends: python3-appdirs, python3-apt, python3:any (>= 3.4~)
Section: python
Priority: optional
Homepage: https://salsa.debian.org/crossgrading-team/debian-crossgrading
Description: Debian crossgrading tool
 # debian-crossgrading
 .
 This repo contains my work and research for my Google Summer of Code 2020 project, Architecture Cross-Grading Support in Debian.
 .
 The official project can be found at https://summerofcode.withgoogle.com/projects/#6528590289567744.
 .
 ## Usage
 .
 Refer to [INSTRUCTIONS.md](INSTRUCTIONS.md)
 .
 ## Progress
 .
 Refer to [TODO.md](TODO.md)
 .
 Placeholder
